<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}The LocalCinema OnlineVagtplan{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="/create_user">Create User</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/create_show">Create Show</a></li>
            <li><a href="/my_shifts">My Shifts</a></li>
        </ul>
        {% block body %}
        <h1>The LocalCinema OnlineVagtplan</h1>
        {% endblock %}
    </body>
</html> 
