{% extends "base.html" %}
{% block title %}Create show{% endblock %}
{% block body %}
        {% if user.is_super %}
        {% with m = get_flashed_messages() %} 
            {% if m %}
                <p>!! Error: {{ m[0] }} !!</p>
                <p>Please try again:</p>
            {% endif %}
        {% endwith %}
        <form action="/create_show" method = "post" >
            <p>Show Title</p> 
            <p><input type = "text" name = "nm" /></p>
            <p>Show start date YYYY-MM-DD</p> 
            <p><input type = "text" name = "startdate" /></p>
            <p>Show start time HH:MM</p> 
            <p><input type = "text" name = "starttime" /></p>
            <p>Show length in minutes</p> 
            <p><input type = "text" name = "length" /></p>
            <p>Number of shifts on this show.</p> 
            <p><input type = "text" name = "shifts" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        {% else %}
        <p>Error: only supers are able to create shows<p>
        {% endif %}
{% endblock %}

